*{margin: 0;
    padding: 0;}
.layout{
    
    margin: 0 auto;
}
body{
    background-color: rgb(163, 152, 152) ;
}
h1{
    text-align: center;
    color: white;
}
nav{padding: 10;
    background-color: rgb(218, 40, 129);
    margin:10 10;
}
 nav li{
    display: inline-block;
    margin-left:100px;
}
ul{
    display: inline-block;
}
form{
    display: inline-block;
    margin-left: 150px;
}
.submit{
    background-color: black;
    color: white;
}
input type[button]{
    background-color: black;
}
.layout1{
    margin: 10px;
}
.main{
    padding: 12 30;
    background-color: white;
    width: 70%;
    display: inline-block;
}
h2{
    text-align: center;
}
.sub{
    background-color: rgb(218, 40, 129);
    width: 25%;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 250px;
}
.ul1 li{
    color: blue;
    text-decoration: underline;
    margin-left: 20px;
    
}
footer{
    margin: 10;
    background-color: white;
    border: 2px solid  white;
}