body{margin: 20px;}
.bo1{border: 2px solid rgb(127, 194, 221);
    height:30%;
    width:25%;
    display:inline-block;
     margin-left: 20px;}
.bo2{border:2px solid rgb(127, 194, 221);
     height:30%;
     width:25%;
     display: inline-block;margin-left: 20px;}
.bo3{border:2px solid rgb(127, 194, 221);
     height:30%;
     width:25%;
     display: inline-block;margin-left:20px;}
.bo4{border:2px solid rgb(127, 194, 221);
     height:30%;
     width:25%;
     display: inline-block;margin-left: 20px;}
.bo5{border:2px solid rgb(127, 194, 221);
     height:30%;
     width:25%;
     display: inline-block;margin-left: 20px;}
.bo6{border:2px solid rgb(127, 194, 221);
     height:30%;
     width:25%;
     display: inline-block;margin-left:20px;}