*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: gray;
}
header{
    color: white;
}
nav li{
    padding-left:61px;
}

.sub{
    margin-right: 10px;
    background-color: white;
    padding: 20px;
    
}




.ul1 li{
    text-decoration: underline;
    margin-top: 35px;
}