*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(187, 181, 181);
}
nav ul{
    margin-left: 800px;
    float: right
    ;
}
nav li{
    display: inline-block;
    margin-left:32px;
}


nav h2 {
    display: inline-block;
    float: left;
}
nav{
    margin: 10px;
}
.sub1{
    float: left;

}
.sub2{
    float: right;
    background-color: gray;
    padding: 10px;
}